*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
body{
    height: 100vh;
    transition: all 0.8s ease-in;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

}

button {
    padding: .8rem 1.5rem;
    border-radius: .5rem;
    border: none;
    outline: none;
    background-color: #4FB3CF;
    cursor: pointer;
    margin-top: 1rem;
    box-shadow: -1px 0px 20px 0px rgba(0,0,0,0.75);
}
